{% extends 'PortfolioCoreBundle:Common:layout.html.twig' %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
        {% if error != null %}
            <div class="alert alert-info">
                <p>{{ error }}</p>
            </div>
        {% endif %}
            <div class="well">
                <h1>Selecciona el departamento del cual deseas cargar los datos</h1>
                <div class="row">
                    <div class="col-xs-6">
                        <p>Esta es la carga principal es necesario hacer esta carga de datos primero para poder realizar los demás.</p>
                            <ul style="list-style: none;">
                            <li>
                                <a href="{{ path('portfolio_control_load_academic') }}" class="btn btn-default" style="width:180px;">Cargar alumnos</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-6">
                        <p>Servicio Social</p>
                        <ul style="list-style: none;">
                            <li>
                                <a href="{{ path('portfolio_control_load_social') }}" class="btn btn-default" style="width:180px;">SS</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    <p>Actividades Extracurriculares</p>
                        <ul style="list-style: none;">
                            <li style="margin-bottom:2px;"><a href="{{ path('portfolio_control_load_sport') }}" class="btn btn-default" style="width:180px;"> Clubes deportivos </a></li>
                            <li style="margin-bottom:2px;"><a href="{{ path('portfolio_control_load_representative') }}" class="btn btn-default" style="width:180px;"> Equipos representativos </a></li>
                            <li style="margin-bottom:2px;"><a href="{{ path('portfolio_control_load_cultural') }}" class="btn btn-default" style="width:180px;"> Difusion cultrural </a></li>
                            <li style="margin-bottom:2px;"><a href="{{ path('portfolio_control_load_group') }}" class="btn btn-default" style="width:180px;"> Grupos estudiantiles </a></li>
                            <li><a href="{{ path('portfolio_control_load_cat') }}" class="btn btn-default" style="width:180px;"> CAT </a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <p>Programas Internacionales</p>
                        <ul style="list-style: none;">
                            <li>
                                <a href="{{ path('portfolio_control_load_international') }}" class="btn btn-default"> PI </a>
                            </li>
                        </ul>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}