<div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"{% if sideactive == 'historia' %} class="active"{% endif %}>
            <a href="{{ path() }}">Historia</a>
        </li>
        <li role="presentation"{% if sideactive == 'horario' %} class="active"{% endif %}>
            <a href="{{ path() }}">Horario</a>
        </li>
        <li role="presentation"{% if sideactive == 'calificaciones' %} class="active"{% endif %}>
            <a href="{{ path() }}">Calificaciones</a>
        </li>
        <li role="presentation"{% if sideactive == 'bajas' %} class="active"{% endif %}>
            <a href="{{ path() }}">Bajas</a>
        </li>
        <li role="presentation"{% if sideactive == 'toefl' %} class="active"{% endif %}>
            <a href="{{ path() }}">Toefl</a>
        </li>
        <li role="presentation"{% if sideactive == 'cambio' %} class="active"{% endif %}>
            <a href="{{ path() }}">Cambio Calificaciones</a>
        </li>
        <li role="presentation"{% if sideactive == 'examenes' %} class="active"{% endif %}>
            <a href="{{ path() }}">Exámenes Extemporáneos</a>
        </li>
    </ul>
</div>